@keyframes bounce {
  0% {transform: translateY(-2000px);}
  70% {transform: translateY(30px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}

@keyframes departure {
  0% {transform: translateY(-2000px);}
  100% {transform: translateY(0);}
}

@keyframes shake {
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateX(-10px);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(10px);}
}

@keyframes slide {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  80% {
    transform: translateX(-50%);
    opacity: .8;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
 padding: 0;
 margin: 0;

 min-width: 1200px;
 
 font-family: 'Roboto', Arial, sans-serif;
 font-size: 16px;
 line-height: 24px;
 color: black;

 background-color: white;
}

.container {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a.disabled {
  pointer-events: none !important; 
  cursor: default !important;
  color: #888 !important;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  box-sizing: border-box;
  font: inherit;
  line-height: 18px;
  color:white;
  text-transform: uppercase;
  text-align: center;

  background-color: #fb565a;

  border: none;
  border-radius: 3px;
  outline: none;

  /* Для ссылок */
  min-width: 160px;
  max-width: 100%;
  padding: 16px 5px;
  word-wrap: break-word;
  display: inline-block;
  vertical-align: middle;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.header{
  background-color: #eeeeee;
  text-transform: uppercase;
  padding-top: 49px
}

.header__logo-container {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.header__logo:hover,
.header__logo:focus {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.3;
}

.main-navigation {
  font-weight: 500;
  line-height: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main-navigation a {
  color: black;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3)
}

.list-navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 640px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  align-items: flex-start;
  align-content: flex-start;
  padding-top: 26px;
}

.list-navigation__item {
  box-sizing: border-box;
  padding-bottom: 3px;
  margin-right: 47px;
}

.list-navigation__item:last-child {
  margin-right: 0;
}

.navigation_current {
  border-bottom: #fb565a solid 2px;
}

.cart {
  margin: 0;
  padding: 0;
  list-style: none;
  
  padding-top: 26px;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 160px;
  justify-content: flex-end;
}

.cart__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-left: 45px;
}

.cart__link::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  background-image: url("../img/cart-icon-color-mod.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Слайдер */
.slider {
  background-color: #eeeeee;
  position: relative;
  margin-bottom: 80px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-list__item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-list__item_active {
  display: block;
  animation: slide .7s;
}

.slider-list__item:nth-child(1) {
  background-image: url(../img/slider-index/slide1.png);
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-list__item:nth-child(2) {
  background-image: url(../img/slider-index/slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-list__item:nth-child(3) {
  background-image: url(../img/slider-index/slide3.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-list__item-title {
  max-width: 600px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  
}

.slider-list__item-text {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.slider-list__item-btn {
  width: 240px;
}

.slider-controls__item {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls__item::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  border-radius: 50%;

  background-color: white;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

#product-1:focus ~ .slider-controls > label[for="product-1"]::after,
#product-2:focus ~ .slider-controls > label[for="product-2"]::after,
#product-3:focus ~ .slider-controls > label[for="product-3"]::after {
  box-shadow: 0px 0px 0px 2px #4D90FE;
}

.slider-controls__item_active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;

  transform: translate(-50%, -50%);
  /* margin: -4px; */

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/* Конец слайдера */

.services {
  margin-bottom: 40px;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #eeeeee;
  word-wrap: break-word;
}

.service-list__item {
  width: 300px;
  margin-right: 100px;
  padding-bottom: 80px;
}

.service-list__item:last-child {
  margin-right: 0;
}

.service-list__icon {
  max-width: 300px;
  height: 146px;
  
  background-position: center;
  background-repeat: no-repeat;

  margin-bottom: 25px;
}

.service-list__icon_img_sites {
  background-color: #fb565a;
  background-image: url("../img/features-sites.png");
}

.service-list__icon_img_app {
  background-color: #00ca74;
  background-image: url("../img/features-app.png");
}

.service-list__icon_img_presentations {
  background-color: #efc849;
  background-image: url("../img/features-presentation.png");
}

.service-list__title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;

  margin-bottom: 15px;
}

.service-list__text {
  width: 260px;
  margin: 0;
  padding: 0;

  color: #283136;

  margin-bottom: 33px;
}

.service-list__btn_color_green {
  background-color: #00ca74;
}

.service-list__btn_color_green:hover,
.service-list__btn_color_green:focus {
  background-color: #00bc6c;
}

.service-list__btn_color_green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.service-list__btn_color_yellow {
  background-color: #efc84a;
}

.service-list__btn_color_yellow:hover,
.service-list__btn_color_yellow:focus {
  background-color: #eab534;
}

.service-list__btn_color_yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.about-us {
  margin-bottom: 50px; 
  display: flex;
  word-wrap: break-word;
}

.brief-info {
  width: 660px;
  margin-right: auto;
}

.brief-info__title {
  font-size: 45px;
  line-height: 45px;

  display: block;
  padding-top: 34px;
  font-weight: 500;
  margin-bottom: 32px;
}

.brief-info__text {
  margin: 0;
  padding: 0;
  color: 283136;

  margin-bottom: 41px;
}

.brief-info__list-title {
  margin: 0;
  padding: 0;

  font-weight: bold;
  text-transform: uppercase;

  margin-bottom: 22px;
}

.brief-info__list {
  margin: 0;
  padding: 0;
}

.brief-info__list {
  list-style: none;
}

.brief-info__item {
  color: #283136;
  margin-bottom: 24px;
  padding-left: 37px;
  position: relative;
}

.brief-info__item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  top: 50%;
  transform: translateY(-50%);
  left: 1px;
}

.advantages {
  width: 360px;
}

.advantages__logo-wrapper {
  width: 360px;
  height: 208px;

  margin-bottom: 36px;
}

.advantages-list-title {
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.advantages-list__item {
  display: flex;
  width: 120px;
  flex-direction: column;
}

.advantages-list__term {
  margin: 0;
  padding: 0;

  color: #283136;
  line-height: 18px;

  order: 1;
}

.advantages-list__definition {
  margin: 0;
  padding: 0;
  font-size: 45px;
  font-weight: bold;

  margin-bottom: 28px;
}

.advantages-list__definition span {
  vertical-align: super;
  font-size: 24px;
}

.list-partner {
  list-style: none;
  margin: 0;
  margin-bottom: 80px;

  padding: 0;
  /* padding-top: 52px; */
  /* padding-bottom: 32px; */
  /* padding-left: 31px; */
  /* padding-right: 43px; */

  min-height: 184px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.list-partner__item {
  box-sizing: border-box;
  position: relative;
}

.list-partner__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}

.list-partner__link {
  width: 260px;
  height: 100px;
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity;
  transition-duration: 100ms;
}

.list-partner__link:hover,
.list-partner__link:focus {
  opacity: 1;
}

.list-partner__link:active {
  opacity: 0.1;
}

.contacts {
  max-width: 1440px;
  margin: 0 auto;

  position: relative;
}

.contacts-text {
  width: 319px;
  min-height: 308px;

  padding: 51px 50px;
  box-sizing: border-box;

  background-color: white;

  position: absolute;
  top: 54px;
  left: 140px;
  z-index: 3;
}

.contacts-text__title {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 26px;
}

.contacts-text__address,
.contacts-text__phone {
  margin: 0;
  padding: 0;
  color: #666666;
  line-height: 18px;
}

.contacts-text__address {
  margin-bottom: 18px;
}

.contacts-text__btn {
  width: 219px;
  position: absolute;
  bottom: 47px;
}

.contacts__map {
  position: relative;
  z-index: 1;

  display: block;
  width: 100%;
}

.contacts__google-map {
  width: 100%;
  height: 100%;;
  position: absolute;
  top: 0;
  z-index: 2;
}

.footer {
  padding-top: 69px;
  padding-bottom: 69px;
}

.footer > .container {
  display: flex;
}

.footer-social {
  margin: 0;
  padding: 0;
  width: 400px;
  /* margin-right: 140px; */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social__item {
  border-radius: 50%;
  margin-right: 13px;
  margin-bottom: 10px;
}

.footer-social__item a {
  width: 78px;
  height: 78px;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e1e1;
  transition: background-color;
  transition-duration: 100ms;
}

.footer-social__item a:hover,
.footer-social__item a:focus {
  background-color: #e74246;
}

.footer-social__item a:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px 0px #c13135;
}

.footer-social__item a:active svg {
  opacity: 0.3;
}

.footer-text {
  width: 600px;
  margin-top: 6px;
}

.footer-text_size_big,
.footer-text_size_small {
  margin: 0;
  padding: 0;
}

.footer-text_size_big {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 13px;
}

.footer-text_size_small {
  color: #444444;
  line-height: 16px;
}

/* Попап "Напишите нам" */
.feedback {
  width: 960px;
  min-height: 590px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  margin-left: -480px;
  margin-top: -295px;
  z-index: 50;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
  padding: 84px 100px;
  padding-top: 66px;
  display: none;
}

.popup-show {
  display: block;
  animation: bounce 0.6s;
  /* animation-fill-mode: forwards; */
}

.popup-hide {
  display: block;
  animation: departure 0.4s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.popup-error {
  animation: shake 0.5s;
}

.feedback__title {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.input-form {
  display: flex;
  flex-wrap: wrap;
}

.input-form__item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.input-form__item-name,
.input-form__item-email {
  width: 360px;
}

.input-form__item-email {
  margin-left: auto;
}

.input-form__item-text {
  width: 100%;
  margin-top: 34px;
  margin-bottom: 47px;
}

.input-form__item input {
  min-height: 50px;
  padding: 0px 5px;
  box-sizing: border-box;
  transition: border-color;
  transition-duration: 150ms;
}

.input-form__item textarea {
  max-width: 100%;
  max-height: 210px;
  min-width: 100%;
  min-height: 118px;
  padding: 0px 5px;
  box-sizing: border-box;
}

.input-form label {
  font-weight: bold;
  margin-bottom: 10px;
}

.input-form input,
.input-form textarea {
  font: inherit;
  border-radius: 3px;
  border: 2px solid #d7dcde;
}

.input-form .input-error {
  border-color: #e74246; 
  color: #e74246;
}

.input-form input:hover,
.input-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.input-form input:active,
.input-form input:focus,
.input-form textarea:active,
.input-form textarea:focus {
  border: 2px solid #000000;
  outline: none;
}

/* Цвет placeholder для Safari и Chrome */
.input-form input:active::-webkit-input-placeholder,
.input-form input:focus::-webkit-input-placeholder,
.input-form textarea:active::-webkit-input-placeholder,
.input-form textarea:focus::-webkit-input-placeholder {
  color: #444444;
}
/* Цвет placeholder для Firefox */
.input-form input:active::-moz-placeholder,
.input-form input:focus::-moz-placeholder,
.input-form textarea:active::-moz-placeholder,
.input-form textarea:focus::-moz-placeholder {
  color: #444444;
}

.input-form__btn {
  width: 260px;
  min-height: 50px;
}

.feedback__btn-close {
  position: absolute;
  top: 78px;
  right: 89px;
  padding: 0;
  box-sizing: border-box;

  width: 22px;
  height: 22px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform;
  transition-duration: 800ms;

  outline: none;
}

.feedback__btn-close::before,
.feedback__btn-close::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 5px;
  top: 9px;
  left: 0;
  background-color: #fecccd;
  transition: background-color;
  transition-duration: inherit;
}

.feedback__btn-close::before {
  transform: rotate(45deg);
}

.feedback__btn-close::after {
  transform: rotate(-45deg);
}

.feedback__btn-close:hover {
  transform: rotate(-90deg);
}

.feedback__btn-close:hover::before,
.feedback__btn-close:hover::after {
  background-color: #fb565a;
}

.feedback__btn-close:active::before,
.feedback__btn-close:active::after {
  opacity: .1;
}

/* Catalog.html */
.catalog-page .header {
  margin-bottom: 52px;
}

.header__title {
  margin: 0px;
  padding: 0px;
  padding-top: 78px;
  padding-bottom: 108px;
  
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  text-transform: none;
  line-height: 55px;
}

.catalog-page-main > .container {
  display: flex;
}

.filter {
  width: 260px;
  margin-right: 140px;
}

.filter__item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__title,
.catalog-sorting__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

.filter-price {
  margin-bottom: 54px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 14px;
  background-color: #eeeeee;
  border-radius: 5px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toogle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toogle-min {
  left: 18px;
}

.range-controls .toogle-max {
  left: 160px;
}

.filter-price__title {
  margin-bottom: 51px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.price-controls label {
  color: #283136;
  text-transform: uppercase;
}

.price-controls input[type="text"] {
  width: 60px;
  padding:  7px 10px;
  margin-left: 8px;

  font: inherit;
  color: #283136;
  text-align: center;

  border: none;
  border-radius: 3px;

  background-color: #eeeeee;
}

.filter-grid__list,
.filter-features__list {
  margin: 0;
  padding: 0;
  color: #283136;
  list-style: none;
  width: 260px;
  box-sizing: border-box;
}

.filter-grid {
  margin-bottom: 30px;
}

.filter-grid__title {
  margin-bottom: 14px;
}

.filter-grid__item {
  margin-bottom: 15px;
}

.filter-grid__label {
  position: relative;
  padding-left: 36px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  word-wrap: break-word;
}

.filter-grid__label:hover,
.filter-grid__radio:focus + .filter-grid__label{
  color: #000000;
}

.filter-grid__radio:disabled + .filter-grid__label {
  color: #ededed;
}

.filter-grid__label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0 4px #4d4d4d;
  opacity: .5;
  left: 1px;
  top: -1px;
  transition: opacity;
  transition-duration: 100ms;
}

.filter-grid__label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #4d4d4d;
  opacity: .5;
  top: 7px;
  left: 9px;
  transition: opacity;
  transition-duration: 100ms;
  display: none;
}

.filter-grid__radio:checked + .filter-grid__label::after {
  display: block;
}

.filter-grid__label:hover::before,
.filter-grid__label:hover::after,
.filter-grid__radio:focus + .filter-grid__label::before,
.filter-grid__radio:focus + .filter-grid__label::after {
  opacity: 1;
}

.filter-grid__radio:disabled + .filter-grid__label::before,
.filter-grid__radio:disabled + .filter-grid__label::after {
  opacity: .1;
}

.filter-features {
  margin-bottom: 32px;
}

.filter-features__title {
  margin-bottom: 13px;
}

.filter-features__item {
  margin-bottom: 16px;
}

.filter-features__label {
  position: relative;
  padding-left: 37px;
  display: block;
  width: 100%;
  word-wrap: break-word;
}

.filter-features__label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  border: 2px solid #a6a6a6;
  border-radius: 3px;

  background-color: #ffffff;
  left: 1px;
  top: 1px;
  transition: border-color;
  transition-duration: 100ms;
}

.filter-features__label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 11px;
  box-sizing: border-box;
  border: 4px solid #a6a6a6;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  left: 6px;
  top: 3px;
  box-shadow: 0px 2px 0px 0px white,
              inset 0px -2px 0px 0px white;
  transition: border-color;
  transition-duration: 100ms;
  display: none;
}

.filter-features__checkbox:checked + .filter-features__label::after {
  display: block;
}

.filter-features__checkbox:disabled + .filter-features__label::after,
.filter-features__checkbox:disabled + .filter-features__label::before,
.filter-features__checkbox:disabled + .filter-features__label {
  border-color: #ededed;
  color: #ededed;
}

.filter-features__label:hover::before,
.filter-features__label:hover::after,
.filter-features__checkbox:focus + .filter-features__label::before,
.filter-features__checkbox:focus + .filter-features__label::after {
  border-color: #4d4d4d;
}

.filter__btn {
  min-width: 260px;
  min-height: 50px;
  font-weight: 500;
  color: #000000;

  background-color: #eeeeee;
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: #dfdfdf;
}

.filter__btn:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3 );

  border-top: 3px solid rgba(0, 0, 0, 0.3 );
}


.catalog {
  flex-basis: 760px;
}

.catalog-sorting {
  display: flex;
  margin-bottom: 51px;
}

.list-sorting-by,
.list-sorting-method {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-sorting-by {
  margin-left: auto;
  width: 272px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-sorting-by__item,
.list-sorting-method__item {
  display: inline-block;
}

.catalog-sorting a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-sorting a:hover,
.catalog-sorting a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.list-sorting-by__item_active a,
.catalog-sorting a:active {
  color: #000000;
}

.list-sorting-method {
  font-size: 0;
  display: flex;
  align-items: center;
  margin-left: 48px;
}

.list-sorting-method__item {
  margin-left: 20px;
}

.list-sorting-method__item:first-child {
  margin-left: 0;
}

.list-sorting-method__item > a {
  display: block;
  border-width: 9px 5px 9px 5px;
  border-style: solid;
  border-color: #ededed;
  font-size: 16px;
}

.list-sorting-method__item > a:hover,
.list-sorting-method__item > a:focus {
  border-color: #a6a6a6;
}

.list-sorting-method__item_active > a,
.list-sorting-method__item > a:active {
  border-color: black;
}

.list-sorting-method__item > a,
.list-sorting-method__item > a:hover,
.list-sorting-method__item > a:focus,
.list-sorting-method__item > a:active {
  border-left-color: transparent;
  border-right-color: transparent;
}

.list-sorting-method__item_sort_descending > a {
  border-bottom: none;
}

.list-sorting-method__item_sort_ascending > a {
  border-top: none;
}
 
.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 27px;
}

.catalog-list__item {
  width: 360px;
  height: 616px;

  position: relative;

  transition-property: box-shadow;
  transition-duration: 100ms;

  margin-bottom: 33px;
}

.catalog-list__item-link::before {
  content: "";
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;

  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='360px' height='40px' viewBox='0 0 360 40' enable-background='new 0 0 360 40' xml:space='preserve'%3E%3Cpath fill='%234D4D4D' d='M356,0H4C1.8,0,0,1.8,0,4v16v20h360V4C360,1.8,358.2,0,356,0z M22.991,27c-3.866,0-7-3.134-7-7s3.134-7,7-7 s7,3.134,7,7S26.857,27,22.991,27z M46.002,27c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S49.868,27,46.002,27z M69.013,27 c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S72.879,27,69.013,27z'/%3E%3C/svg%3E");
  opacity: 0.12;

  transition-property: opacity;
  transition-duration: 100ms;
}

.catalog-list__item-link {
  display: block;
  padding-top: 40px;
}

.catalog-list__item:hover,
.catalog-list__item-link:focus {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog-list__item-link:hover::before,
.catalog-list__item-link:focus::before {
  opacity: 1;
}

.catalog-list__item:hover > .catalog-price,
.catalog-list__item-link:focus + .catalog-price {
  display: block;
  /* opacity: 1; */
}

.catalog-list__item-link img {
  width: 360px;
  height: 576px;
  display: block;
}

.catalog-price {
  width: 360px;
  min-height: 231px;
  max-height: 100%;
  overflow: auto;

  text-align: center;

  background-color: #eeeeee;
  position: absolute;
  bottom: 0;

  display: none;
}

.catalog-price__title {
  max-width: 90%;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 35px;
  word-wrap: break-word;
}

.catalog-price__text {
  width: 250px;
  margin-top:  25px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 18px;
  color: #666666;
  word-wrap: break-word;
}

.catalog-price__btn {
  width: 200px;
  margin-top: 35px;
}

.catalog-price__btn:active {
  color: #ffffff;
}

.paginacion-list {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  list-style: none;
  display: flex;
}

.paginacion-list__item {
  margin-right: 11px; 
}

.paginacion-list__item > a {
  box-sizing: border-box;
  padding-top: 14px;
  padding-left: 7px;
  padding-right: 7px;
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  display: block;
  background-color: #eeeeee;
  color: black;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
}

.paginacion-list__item_active > a {
  background-color: #ffffff;
  box-shadow: inset 3px 3px 0px 0px #dbdbdb,
              inset -3px -3px 0px 0px #dbdbdb;
}

.paginacion-list__item > a:hover,
.paginacion-list__item > a:focus {
  background-color: #dfdfdf;
  outline: none;
}

.paginacion-list__item > a:active {
  color: #bfbfbf;
  box-shadow: inset 0px 3px 0px 0px #bfbfbf;
}

.paginacion-list__item_next > a {
  min-width: 260px;
}