.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
 padding: 0;
 margin: 0;
 
 font-family: 'Roboto', Arial, sans-serif;
 font-size: 16px;
 line-height: 24px;
 color: black;

 background-color: white;
}

a {
  text-decoration: none;
}

/* button, 
button:active, 
button:focus {
    outline: none;
} */

.btn {
  font: inherit;
  /* line-height: 18px; */
  color:white;
  text-transform: uppercase;
  text-align: center;

  background-color: #fb565a;

  border: none;
  border-radius: 3px;
  outline: none;
  /* vertical-align: middle; */

  /* Для ссылок */
  width: 160px;
  padding-top: 13px;
  padding-bottom: 13px;
  display: inline-block;

}

/* a.btn {
  width: 160px;
  padding-top: 17px;
  padding-bottom: 17px;
  display: inline-block;
} */

.btn:hover,
.bth:focus {
  background-color: #e74246;
  
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.header{
  background-color: #eeeeee;
  text-transform: uppercase;
  padding-top: 49px
}

.header__logo-container {
  width: 160px;
  height: 65px;
}

.header__logo:hover,
.header__logo:focus {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.3;
}

.main-navigation {
  font-weight: 500;
  line-height: 30px;
}

.main-navigation a {
  color: black;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3)
}

.list-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-navigation__item_active {
  border-bottom: #fb565a solid 2px;
}

.cart {
  background-image: url("../img/cart-icon-color-mod.svg");
  /* background-repeat: no-repeat;
  background-position: left; */
}

/* .cart::before {
  width: 15px;
  height: 15px;

  content: url("../img/cart-icon.svg");
  opacity: 0.3;
  top: 20px;
  margin-right: 41px;
} */

/* .cart__link {
  margin-left: 41px;
} */

/* Слайдер */
.slider {
  background-color: #eeeeee;
  /* padding-top: 17px; */
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-list__item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-list__item:nth-child(1) {
  display: block;
}

.slider-list__item:nth-child(1) {
  background-image: url(../img/slider-index/slide1.png);
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-list__item:nth-child(2) {
  background-image: url(../img/slider-index/slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-list__item:nth-child(3) {
  background-image: url(../img/slider-index/slide3.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-list__item-title {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  
}

.slider-list__item-text {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;

  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.slider-list__item-btn {
  width: 240px;
}

.slider-controls__item {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls__item::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  border-radius: 50%;

  background-color: white;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls__item_active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;

  transform: translate(-50%, -50%);
  /* margin: -4px; */

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/* Конец слайдера */

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-list__icon {
  max-width: 300px;
  height: 146px;
  
  background-position: center;
  background-repeat: no-repeat;
}

.service-list__icon_img_sites {
  background-color: #fb565a;
  background-image: url("../img/features-sites.png");
}

.service-list__icon_img_app {
  background-color: #00ca74;
  background-image: url("../img/features-app.png");
}

.service-list__icon_img_presentations {
  background-color: #efc849;
  background-image: url("../img/features-presentation.png");
}

.service-list__title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-list__text {
  margin: 0;
  padding: 0;

  color: #283136;
}

.service-list__btn_color_green {
  background-color: #00ca74;
}

.service-list__btn_color_green:hover,
.service-list__btn_color_green:focus {
  background-color: #00bc6c;
}

.service-list__btn_color_green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.service-list__btn_color_yellow {
  background-color: #efc84a;
}

.service-list__btn_color_yellow:hover,
.service-list__btn_color_yellow:focus {
  background-color: #eab534;
}

.service-list__btn_color_yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.brief-info__title {
  font-size: 45px;
  line-height: 45px;
}

.brief-info__text {
  color: 283136;
}

.brief-info__list-title {
  font-weight: bold;
  text-transform: uppercase;
}

.brief-info__list {
  list-style: none;
}

.brief-info__item {
  color: #283136;
}

.advantages__logo-wrapper {
  width: 360px;
  height: 208px;
}

.advantages-list-title {
  font-weight: bold;
  text-transform: uppercase;
}

.advantages-list__term {
  color: #283136;
  line-height: 18px;
}

.advantages-list__definition {
  font-size: 45px;
  font-weight: bold;
}

.advantages-list__definition span {
  vertical-align: super;
  font-size: 24px;
}

.list-partner {
  list-style: none;
}

.list-partner__link {
  opacity: 0.2;
}

.list-partner__link:hover,
.list-partner__link:focus {
  opacity: 1;
}

.list-partner__link:active {
  opacity: 0.1;
}

.contacts {
  
}

.contacts__container {
  width: 319px;
  min-height: 308px;

  padding: 51px 50px;
  box-sizing: border-box;

  background-color: white;

  position: absolute;
  top: 54px;
  left: 140px;
}

.contacts__title {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 26px;
}

.contacts__address,
.contacts__phone {
  margin: 0;
  padding: 0;
  color: #666666;
  line-height: 18px;
}

.contacts__address {
  margin-bottom: 18px;
}

.contacts__btn {
  width: 219px;
  position: absolute;
  bottom: 47px;
}

.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social__item {
  width: 80px;
  height: 80px;

  display: inline-block;
  
  border-radius: 50%;
}

.footer-social__item a {
  width: inherit;
  height: inherit;

  border-radius: inherit;

  background-repeat: no-repeat;
  background-position: center;
  background-color: #e1e1e1;
  display: block;
}


.footer-social__item_btn_vk a {
  background-image: url("../img/vk-icon.svg");
}

.footer-social__item_btn_facebook a {
  background-image: url("../img/fb-icon.svg");
}

.footer-social__item_btn_instagramm a {
  background-image: url("../img/insta-icon.svg");
}

.footer-social__item a:hover,
.footer-social__item a:focus {
  background-color: #e74246;
}

.footer-social__item a:active {
  opacity: 0.3;
}

.footer-social__item:active {
  background-color: #d7373b;
}

.footer-text_size_big {
  font-size: 36px;
  font-weight: bold;
}

.footer-text_size_small {
  color: #444444;
}

/* Попап "Напишите нам" */
.feedback__title {
  font-size: 45px;
  font-weight: 500;
}

.input-form label {
  font-weight: bold;
}

.input-form input,
.input-form textarea {
  font: inherit;

  border: 2px solid #d7dcde;
}

.input-form input:hover,
.input-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.input-form input:active,
.input-form input:focus,
.input-form textarea:active,
.input-form textarea:focus {
  border: 2px solid #000000;
  outline: none;
}

/* Цвет placeholder для Safari и Chrome */
.input-form input:active::-webkit-input-placeholder,
.input-form input:focus::-webkit-input-placeholder,
.input-form textarea:active::-webkit-input-placeholder,
.input-form textarea:focus::-webkit-input-placeholder {
  color: #444444;
}
/* Цвет placeholder для Firefox */
.input-form input:active::-moz-placeholder,
.input-form input:focus::-moz-placeholder,
.input-form textarea:active::-moz-placeholder,
.input-form textarea:focus::-moz-placeholder {
  color: #444444;
}

.input-form__btn {
  width: 260px;
  min-height: 50px;
}

/* Catalog.html */

.header h1  {
  font-size: 55px;
  font-weight: 500;
  text-transform: none;
  line-height: 55px;
}
.filter__title,
.catalog-sorting__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

.filter-price label {
  color: #283136;
  text-transform: uppercase;
}

.filter-price input {
  width: 80px;
  min-height: 38px;

  font: inherit;
  text-align: center;

  border: none;
  border-radius: 3px;

  background-color: #eeeeee;
}

.filter ul {
  color: #283136;
  list-style: none;
}

.filter__btn {
  width: 260px;
  min-height: 50px;

  color: #000000;

  background-color: #eeeeee;
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: #dfdfdf;
}

.filter__btn:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3 );

  border-top: 3px solid rgba(0, 0, 0, 0.3 );
}

.catalog-sorting a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-sorting a:hover,
.catalog-sorting a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.list-sorting-by__item_active a,
.catalog-sorting a:active {
  color: #000000;
}

.catalog-sorting ul {
  list-style: none;
}
 
.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-list__item {
  width: 360px;
  height: 616px;

  position: relative;

  transition-property: box-shadow;
  transition-duration: 100ms;
}

.catalog-list__item-link::before {
  content: "";
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;

  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='360px' height='40px' viewBox='0 0 360 40' enable-background='new 0 0 360 40' xml:space='preserve'%3E%3Cpath fill='%234D4D4D' d='M356,0H4C1.8,0,0,1.8,0,4v16v20h360V4C360,1.8,358.2,0,356,0z M22.991,27c-3.866,0-7-3.134-7-7s3.134-7,7-7 s7,3.134,7,7S26.857,27,22.991,27z M46.002,27c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S49.868,27,46.002,27z M69.013,27 c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S72.879,27,69.013,27z'/%3E%3C/svg%3E");
  opacity: 0.12;

  transition-property: opacity;
  transition-duration: 100ms;
}

.catalog-list__item-link {
  display: block;
  padding-top: 40px;
}

.catalog-list__item:hover,
.catalog-list__item-link:focus {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog-list__item-link:hover::before,
.catalog-list__item-link:focus::before {
  opacity: 1;
}

.catalog-list__item:hover > .catalog-price,
.catalog-list__item-link:focus + .catalog-price {
  display: block;
  /* opacity: 1; */
}

.catalog-list__item-link img {
  width: 360px;
  height: 576px;
  display: block;
}

.catalog-price {
  width: 360px;
  min-height: 231px;

  text-align: center;

  background-color: #eeeeee;
  position: absolute;
  bottom: 0;

  display: none;

  /* opacity: 0; */
}

.catalog-price__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 0;
}

.catalog-price__text {
  width: 250px;
  margin-top:  25px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 18px;
  color: #666666;
}

.catalog-price__btn {
  width: 200px;
  margin-top: 35px;
}

.catalog-price__btn:active {
  color: #ffffff;
}

.paginacion-list {
  list-style: none;
}

.paginacion-list__item {
  float: left;
  margin-right: 11px;
}

.paginacion-list__item > a {
  width: 50px;
  height: 50px;
  
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  background-color: #eeeeee;
  display: block;
  border-radius: 3px;
  position: relative;

  border: 3px solid #eeeeee;
}

.pagination-list__text {
  display: inline-block;
  line-height: 0px;
  position: absolute;
  /* top: 50%; */
  padding-top: 22px;
  text-align: center;
  left: 0;
  right: 0;
}

.paginacion-list__item_active > a {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.paginacion-list__item > a:hover,
.paginacion-list__item > a:focus {
  background-color: #dfdfdf;
  outline: none;
  border: 3px solid #dfdfdf;
}

.paginacion-list__item > a:active {
  color: rgba(0, 0, 0, 0.3 );
  border: none;
  border-top: 3px solid rgba(0, 0, 0, 0.3 );
}

.paginacion-list__item_next > a {
  width: 250px;
}

/* Сетка */
.container {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header__logo-container {
  margin-right: 200px;
}

.main-navigation {
  display: flex;
  /* width: 100%; */
  justify-content: flex-start;
}

.list-navigation {
  width: 440px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.list-navigation__item {
  min-height: 35px;
 box-sizing: border-box;
}

.cart {
  width: 160px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
 background-position: 5px 50%;
}

.cart__link {
 
}

.slider {
  margin-bottom: 80px;
}

.services {
  margin-bottom: 40px;
}

.service-list {
  display: flex;
  border-bottom: 2px solid #eeeeee;
}

.service-list__item {
  width: 300px;
  margin-right: 100px;
  padding-bottom: 80px;
}

.service-list__icon {
  margin-bottom: 24px;
}

.service-list__title {
  margin-bottom: 15px;
}

.service-list__text {
  margin-bottom: 34px;
}

.service-list__item:last-child {
  margin: 0;
}

.about-us {
  margin-bottom: 56px; 
  display: flex;
}

.brief-info__title {
  display: block;
  padding-top: 35px;
  font-weight: 500;
  margin-bottom: 30px;
}

.brief-info__text {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}

.brief-info__list-title {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.brief-info__list {
  margin: 0;
  padding: 0;
}

.brief-info__item {
  margin-bottom: 22px;
}

.advantages__logo-wrapper {
  margin-bottom: 35px;
}

.advantages-list-title {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;

  display: flex;
}

.advantages-list__item {
  display: flex;
  flex-direction: column;
}

.advantages-list__term {
  margin: 0;
  padding: 0;
  order: 1;
}

.advantages-list__definition {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.list-partner {
  margin: 0;
  margin-bottom: 80px;

  padding: 0;
  padding-top: 52px;
  padding-bottom: 32px;

  display: flex;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.contacts {
  margin: 0 auto;
}

.contacts-wrapper {
  width: 1440px;
  margin: 0 auto;

  position: relative;
}

.contacts__map {
  display: block;
}

.footer > .container {
  min-height: 217px;
  display: flex;
  align-items: center;
}

.feedback {
  width: 960px;
  min-height: 590px;
  background-color: yellow;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75)
}

/* Сетка каталога */

.catalog-page .header {
  margin-bottom: 52px;
}

.header__title {
  text-align: center;
  margin: 0px;
  padding: 0px;
  padding-top: 78px;
  padding-bottom: 108px;
}

.catalog-page-main > .container {
  display: flex;
}

.filter {
 width: 280px;
 margin-right: 140px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  /* border: none; */
}

.catalog-sorting {
  display: flex;
  margin-bottom: 51px;
}

.list-sorting-by {
  margin: 0;
  padding: 0;
}

.list-sorting-method {
  margin: 0;
  padding: 0;
}

.list-sorting-by__item {
  display: inline-block;
}

.list-sorting-method__item {
  display: inline-block;
}

.catalog-list {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}